/*
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div > img {
    width: 100px;
    height: 100px;
    padding: 8px;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 56px;
    color: #75B79E;
    font-weight: 700;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 47px;
}

.cards {
    display: flex;
    max-width: 1080px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.slotCarta {
    min-width: 117px;
    height: 146px;
    margin: 0 17px 34px;
    position: relative;
}

.cartaEstilo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 9px;
    position: absolute;
    transition: all 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.back-face {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(-180deg);
}

.back {
    transform: rotateY(0deg);
}

.timer {
    position: fixed;
    top: 10px;
    right: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #86BD8D;
}

@media (max-width: 335px){
    .titulo {
        font-size: 36px;
    }

    body {
        align-items: center;
    }

    .cards, .carta {
        margin: 0px;
        padding: 0px;
    }
    .cards {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .carta {
        margin-bottom: 34px;
    }
}